* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
      box-sizing: border-box;
  }

  .btn{
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 10px;
    font-size: 30px;
    /*padding:1rem 3rem;*/
    background: var(--green);
    background-color: rgb(177, 166, 228);
    color:var(--white);
    text-align: center;
    text-decoration: none;
 }
  .header{
   /* box-shadow: 20px 20px 34px rgba(0,0,0,0.3);*/
  }
  #Master_Bed:hover #Master_bedpop{
    display: block;
  }
  
  #Master_bedpop:hover #Master_bedpop {
    display: block;
  }
  
  #Master_bedpop{
    height: 500px;
    width: 1000px;
    position: absolute;
    margin-top: 20px;
    left: -50px;
    display: none;
    background-color: white;
    z-index: -1;
  }
  
  #Dining:hover #Diningpop {
    display: block;
  }
  
  #Diningpop:hover #Diningpop {
    display: block;
  }
  
  #Diningpop {
    height: 500px;
    width: 1000px;
    position: absolute;
    margin-top: 20px;
    left: -50px;
    display: none;
    background-color: white;
    z-index: -1;
  }
  
  #Drawing:hover #Drawingpop {
    display: block;
  }
  
  #Drawingpop:hover #Drawingpop {
    display: block;
  }
  
  #Drawingpop {
    height: 500px;
    width: 1000px;
    position: absolute;
    margin-top: 20px;
    left: -50px;
    display: none;
    background-color: white;
    z-index: -1;
  }
  
  #Kitchen:hover #Kitchenpop {
    display: block;
  }
  #Kitchenpop:hover #Kitchenpop{
    display: block;
  }
  #Kitchenpop {
    height: 500px;
    width: 1000px;
    position: absolute;
    margin-top: 20px;
    left: -50px;
    display: none;
    background-color: white;
    z-index: -1;
  }
  #sortbutton{
    position: absolute;
    margin-left: 1000px;
    margin-top: 10px;
  }
  #myInput{
    margin-top: 20px;
    height: 40px;
    margin-left: 1300px;
    position:relative;
    width: 200px;
    border: #00B4CC;
  }
  .pro{
    width:23%;
    height: 300px;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 15px;
    display: inline-block;
    float: left;
  }
  .body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image:url("signup.jpg");
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 0;
  }
  #MasterBed_product{
    text-align: center;
    margin-top: 0px;
  }
  #MasterBed_product .container{
    display: flex;
   /*justify-content:space-between;*/
    margin-top: 50px;
    padding-top :50px;
    padding-left: 5px;
    flex-wrap: wrap;
    overflow: hidden;
    /*background-image:url('signup.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #eef3f3;
  }
  #MasterBed_product .product{
    width:20%;
    min-width:250px;
    padding-top: 10px 0px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 30px;
    display: inline-block;
    float: left;
    background-color: #fff;
  }
  #MasterBed_product .product img{
    width:100%;
    height:75%;
    border-radius: 20px;
  }
  #MasterBed_product .product .description{
    text-align: start;
  }
  
  #MasterBed_product1{
    text-align: center;
    margin-top: 50px;
  }
  #MasterBed_product1 .container1{
    display: flex;
   /* justify-content:space-between;*/
    margin-top: 0px;
    padding-top :0px;
    padding-left: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #MasterBed_product1 .product1{
    width:23%;
    min-width:250px;
    padding-top: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 15px;
    display: inline-block;
    float: left;
    background-color: #fff;
  }
  #MasterBed_product1 .product1 img{
    width:100%;
    height:75%;
    border-radius: 20px;
  }
  #MasterBed_product1 .product1 .description1{
    text-align: start;
  }
  #Dining_product{
    text-align: center;
    margin-top: 0px;
  }
  #Dining_product .container{
    display: flex;
   /*justify-content:space-between;*/
    margin-top: 50px;
    padding-top :50px;
    padding-left: 5px;
    flex-wrap: wrap;
    overflow: hidden;
    /*background-image:url('signup.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #eef3f3;
  }
  #Dining_product .product{
    width:20%;
    min-width:250px;
    padding-top: 10px 0px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 30px;
    display: inline-block;
    float: left;
    background-color: #fff;
  }
  #Dining_product .product img{
    width:100%;
    height:75%;
    border-radius: 20px;
  }
  #Dining_product .product .description{
    text-align: start;
  }
  
  #Dining_product1{
    text-align: center;
    margin-top: 50px;
  }
  #diningcontainer1{
    display: flex;
   /* justify-content:space-between;*/
    margin-top: 0px;
    padding-top :0px;
    padding-left: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #Dining_product1 .product2{
    width:23%;
    min-width:250px;
    padding-top: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 15px;
    display: inline-block;
    float: left;
    background-color: #fff;
  }
  #Dining_product1 .product2 img{
    width:100%;
    height:75%;
    border-radius: 20px;
  }
  #Dining_product1 .product2 .description1{
    text-align: start;
  }
  #Drawing_product{
    text-align: center;
    margin-top: 100px;
  }
  #Drawing_product .container{
     display: flex;
    justify-content:space-between;
    padding-top :20px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #Drawing_product .product{
    width:23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 0;
    display: inline-block;
    float: left;
  }
  #Drawing_product .product img{
    width:100%;
    border-radius: 20px;
  }
  #Drawing_product .product .description{
    text-align: start;
  }
  
  
  #Drawing_product1{
    text-align: center;
    margin-top: 50px;
  }
  #drawingcontainer1{
    display: flex;
   /* justify-content:space-between;*/
    margin-top: 0px;
    padding-top :0px;
    padding-left: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #Drawing_product1 .product3{
    width:23%;
    min-width:250px;
    padding-top: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 15px;
    display: inline-block;
    float: left;
    background-color: #fff;
  }
  #Drawing_product1 .product3 img{
    width:100%;
    height:75%;
    border-radius: 20px;
  }
  #Dining_product1 .product3 .description1{
    text-align: start;
  }
  #Kitchen_product{
    text-align: center;
    margin-top: 100px;
  }
  #Kitchen_product .container{
    display: flex;
    justify-content:space-between;
    padding-top :20px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #Kitchen_product .product{
    width:23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 0;
    display: inline-block;
    float: left;
  }
  #Kitchen_product .product img{
    width:100%;
    border-radius: 20px;
  }
  #Kitchen_product .product .description{
    text-align: start;
  }
  #Kitchen_product1{
    text-align: center;
    margin-top: 50px;
  }
  #kitchencontainer1{
    display: flex;
    margin-top: 0px;
    padding-top :0px;
    padding-left: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #Kitchen_product1 .product4{
    width:23%;
    min-width:250px;
    padding-top: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 15px;
    display: inline-block;
    float: left;
    background-color: #fff;
  }
  #Kitchen_product1 .product4 img{
    width:100%;
    height:75%;
    border-radius: 20px;
  }
  #kitchen_product1 .product4 .description1{
    text-align: start;
  }
  .navbar {
    width: 90%;
    margin: 10px;
    padding: 35px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position:absolute;
    z-index: 2;
    height: 20px;
  }
  
  .navbar {
    width: 90%;
    margin: 10px;
    padding: 35px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position:absolute;
    z-index: 2;
    height: 20px;
  }
  
  .navbar ul div {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
    z-index: 1;
  }
  
  .navbar ul li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .navbar ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: aqua;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li a:hover::after {
    width: 100%;
  }
  /* .master_bedpop{
      position:absolute;
      z-index: -1;
   }*/
  .abc {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: white;
    width: 105%;
    height: 50%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  /*.A{
      list-style: none;
      display: inline-block;
      margin:2px 2px;
      position:relative;
  }
  .menus {
    float: left;
  }*/
  
  .abc ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .frontpage {
    position: relative;
    margin-top: 5px;
  }
  
  .img1 {
    position: relative;
    margin-top: 100px;
  }
  
  .companyname {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }
  
  .logsignup {
    padding-left: 50px;
  }
  
  .top {
    background-color: rgb(57, 48, 46);
    height: 65px;
    text-align: center;
    z-index: 999;
    position: sticky;
    color: white; 
  }
  
  .parentlogin {
    display: flex;
  }
  .formlayout {
    width: 490px;
    height: 520px;
    position: relative;
    margin-top: 23px;
    margin-left: 12px;
    background-color: rgb(142, 124, 65);
    padding: 10px;
    overflow: hidden;
    display: inline-block;
  }
  
  .loginimage {
    display: inline-block;
  }
  
  .input-field {
    width: 400px;
    padding: 18px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
  }
  
  .checkbox {
    margin: 40px 10px 34px 0;
  }
  
  span {
    color: #777;
    font-size: 22px;
    bottom: 68px;
    position: absolute;
  }
  
  .loginform {
    top: 150;
    position: absolute;
    width: 280px;
  }
  
  .submit-button {
    width: 300px;
    padding: 10px 50px;
    cursor: pointer;
    display: block;
    margin: 50px 50px;
    background-color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  
  #abc {
    left: 50px;
  }
  
  .para1 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }
  
  .para2 {
    margin: 0 150px;
    font-weight: bold;
    font-size: xx-large;
  }
  .header{
   /* box-shadow: 20px 20px 34px rgba(0,0,0,0.3);*/
  }
  #featured_product{
    text-align: center;
    margin-top: 100px;
  }
  #featured_product .container{
    display: flex;
    justify-content:space-between;
    padding-top :20px;
    flex-wrap: wrap;
  }
  #featured_product .product{
    width:23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 0;
    display: inline-block;
  }
  #featured_product .product img{
    width:100%;
    border-radius: 20px;
  }
  #featured_product .product .description{
    text-align: start;
  }

  .navbar ul div {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
    z-index: 1;
  }
  
  .navbar ul li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .navbar ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: aqua;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li a:hover::after {
    width: 100%;
  }
  /* .master_bedpop{
      position:absolute;
      z-index: -1;
   }*/
  .abc {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: white;
    width: 105%;
    height: 50%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  /*.A{
      list-style: none;
      display: inline-block;
      margin:2px 2px;
      position:relative;
  }
  .menus {
    float: left;
  }*/
  
  .abc ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .frontpage {
    position: relative;
    margin-top: 5px;
  }
  
  .img1 {
    position: relative;
    margin-top: 100px;
  }
  
  .companyname {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }
  
  .logsignup {
    padding-left: 50px;
  }
  
 
  
  .parentlogin {
    display: flex;
  }
  
  #abc {
    left: 50px;
  }
  
  .para1 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }
  
  .para2 {
    margin: 0 150px;
    font-weight: bold;
    font-size: xx-large;
  }

 /**footer*/

footer{
  margin-top: 100px;
font-family: 'Montserrat Alternates', sans-serif;
  padding: 0;
  background: #000;
  width: 100%;
  min-height: 300px;
  max-height: auto;
background-image: linear-gradient(to right top, #161616, #191919, #1b1b1b, #1e1e1e, #212121);
  clear: both;
}
footer .footer-wrap{
  width: 80%;
  margin: 0 auto;
  padding-left: 9%;
  color: white;
}
.widgetFooter{
  width: calc(85%/3);
  height: auto;
  float: left;
  padding: 2.5%;
  text-align: left;
}
h4.uppercase{
  text-transform: uppercase;
  font-family: Arial;
  font-size: 20px;
}
ul#footerUsefulLink, ul#footerMediaLinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-transform: capitalize;
}
ul#footerUsefulLink li, ul#footerMediaLinks li{
  cursor: pointer;
  /* transition: border-bottom 3s ease-in; */
}
ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
   color: #00CED1;
   /* border-bottom: 1px solid red; */
}
ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { color: #3b5998; }
ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit { color: #1DA1F2; }
ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta { color: #ffc838; }
ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git { color: #f1502f; }
 
div#footerLogo img{
  width: 50%;
  margin: 25% 0;
}
 
div.footerCopy{
  clear: both;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
  background: #262626;
}
 
@media (max-width:800px){
  footer .footer-wrap{
    width: 100%;
    padding: 0;
  }
  .widgetFooter:not(:nth-of-type(2)){
    width: calc(90%/2);
    text-align: center;
    font-size: 0.9em;
  }
  .widgetFooter:nth-of-type(2){
    display: none;
  }
  div.footerCopy{
    font-size: 0.8em;
  }
}
@media (max-width:600px){
  .widgetFooter:not(:nth-of-type(2)){
    text-align: left;
  }
}
@media (max-width:500px){
  footer{
    min-height: auto;
  }
  .widgetFooter:not(:nth-of-type(2)){
    width: 100%;
    padding: 0;
    text-align: center;
  }
  ul#footerUsefulLink, ul#footerMediaLinks{
    display: flex;
  }
  ul#footerUsefulLink li, ul#footerMediaLinks li{
    float: left;
    flex: 1;
    text-align: center;
    font-size: 1.5em;
  }
  ul#footerUsefulLink li a, ul#footerMediaLinks li a{
    display: none;
  }
  ul#footerUsefulLink li:hover, ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
     color: white;
     background-color: #00CED1;
  }
  ul#footerMediaLinks li.media1:hover, ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { background-color: #3b5998; color: white; }
  ul#footerMediaLinks li.media2:hover, ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit { background-color: #1DA1F2; color: white; }
  ul#footerMediaLinks li.media3:hover, ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta { background-color: #ffc838; color: white; }
  ul#footerMediaLinks li.media4:hover, ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git { background-color: #f1502f; color: white; }
}


/**button**/
html, body {
  height: 100%;
}

#sort {
 /* min-width: 300px;*/
  height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #231828;
background: linear-gradient(90deg, #231828 0%,  #231828 100%);
  border: none;
  border-radius: 5px;
 /* box-shadow: 12px 12px 24px #231828;*/
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-top: 10px;
  margin-left: 120px;
  }

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/**searchbar**/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: Arial;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}